{<<"app">>,<<"snabbkaffe">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Simple trace-based testing framework">>}.
{<<"files">>,
 [<<"CHANGELOG.md">>,<<"LICENSE">>,<<"README.md">>,<<"include">>,
  <<"include/common.hrl">>,<<"include/ct_boilerplate.hrl">>,
  <<"include/snabbkaffe.hrl">>,<<"include/test_macros.hrl">>,
  <<"include/trace.hrl">>,<<"include/trace_prod.hrl">>,
  <<"include/trace_test.hrl">>,<<"rebar.config">>,<<"rebar.lock">>,<<"src">>,
  <<"src/asciiart.erl">>,<<"src/snabbkaffe.app.src">>,
  <<"src/snabbkaffe.erl">>,<<"src/snabbkaffe_collector.erl">>,
  <<"src/snabbkaffe_diff.erl">>,<<"src/snabbkaffe_internal.hrl">>,
  <<"src/snabbkaffe_nemesis.erl">>,<<"src/snabbkaffe_sup.erl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/kafka4beam/snabbkaffe">>}]}.
{<<"name">>,<<"snabbkaffe">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"1.0.10">>}.
