{<<"app">>,<<"quicer">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"msquic nif binding">>}.
{<<"files">>,
 [<<"CMakeLists.txt">>,<<"LICENSE">>,<<"Makefile">>,<<"README.md">>,
  <<"build.sh">>,<<"c_src">>,<<"c_src/quicer_config.c">>,
  <<"c_src/quicer_config.h">>,<<"c_src/quicer_connection.c">>,
  <<"c_src/quicer_connection.h">>,<<"c_src/quicer_ctx.c">>,
  <<"c_src/quicer_ctx.h">>,<<"c_src/quicer_dgram.c">>,
  <<"c_src/quicer_dgram.h">>,<<"c_src/quicer_eterms.h">>,
  <<"c_src/quicer_internal.h">>,<<"c_src/quicer_listener.c">>,
  <<"c_src/quicer_listener.h">>,<<"c_src/quicer_nif.c">>,
  <<"c_src/quicer_nif.h">>,<<"c_src/quicer_owner_queue.c">>,
  <<"c_src/quicer_owner_queue.h">>,<<"c_src/quicer_queue.c">>,
  <<"c_src/quicer_queue.h">>,<<"c_src/quicer_reg.c">>,
  <<"c_src/quicer_reg.h">>,<<"c_src/quicer_stream.c">>,
  <<"c_src/quicer_stream.h">>,<<"c_src/quicer_tls.c">>,
  <<"c_src/quicer_tls.h">>,<<"c_src/quicer_tp.c">>,<<"c_src/quicer_tp.h">>,
  <<"get-msquic.sh">>,<<"include">>,<<"include/quicer.hrl">>,
  <<"include/quicer_types.hrl">>,<<"include/quicer_vsn.hrl">>,
  <<"msquic_patches">>,
  <<"msquic_patches/12edf3725475d4a99e5598df3289bace47b8f56e.patch">>,
  <<"msquic_patches/9261dacc1dd9a67f6fa8d5fbe663082508b4c605.patch">>,
  <<"msquic_patches/README.md">>,
  <<"msquic_patches/b16a14a72e8c74407ee4a079a1f57efe0246f739.patch">>,
  <<"msquic_patches/e0201eb4e007e7524aef007be67f2281f949f102.patch">>,
  <<"pkgname.sh">>,<<"priv">>,<<"priv/.gitignore">>,<<"rebar.config">>,
  <<"rebar.config.script">>,<<"rebar.lock">>,<<"rel.mk">>,<<"src">>,
  <<"src/quicer.app.src">>,<<"src/quicer.appup.src">>,<<"src/quicer.erl">>,
  <<"src/quicer_app.erl">>,<<"src/quicer_conn_acceptor_sup.erl">>,
  <<"src/quicer_connection.erl">>,<<"src/quicer_lib.erl">>,
  <<"src/quicer_listener.erl">>,<<"src/quicer_listener_sup.erl">>,
  <<"src/quicer_local_stream.erl">>,<<"src/quicer_nif.erl">>,
  <<"src/quicer_remote_stream.erl">>,
  <<"src/quicer_server_conn_callback.erl">>,<<"src/quicer_stream.erl">>,
  <<"src/quicer_sup.erl">>,<<"templates">>,<<"templates/quicer_vsn.h.in">>,
  <<"templates/quicer_vsn.hrl.in">>]}.
{<<"licenses">>,[<<"Apache-2.0">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/emqx/quic">>}]}.
{<<"name">>,<<"quicer">>}.
{<<"requirements">>,
 [{<<"snabbkaffe">>,
   [{<<"app">>,<<"snabbkaffe">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"1.0.10">>}]}]}.
{<<"version">>,<<"0.2.15">>}.
